@font-face {
  font-family: Buffalo-bold;
  src: url(Buffalo-Bold.ttf);
}

@font-face {
  font-family: Buffalo;
  src: url(Buffalo-Regular.ttf);
}

body{
  /* background-color: rgb(10,8,8); */
  background-color: black;
  font-family: Buffalo, sans-serif;
  letter-spacing: 1px;
}

.landing-bg{
  position: fixed;
  top: 50vh;
  left: 50vw;
  margin: 0;
  padding: 0;
  /* min-width: 100vw; */
  /* min-height: 100vh; */
  height: 100vh;
  /* width: calc(100vh / 9 * 14); */
  width: calc(100vh / 997 * 1500);
  z-index: -100;
  transform: translate(-50%, -50%);
}

.bg-overlay{
  box-shadow: inset 0 0 20px 20px black;
}

.landing-bg img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.landing-logo{
  position: fixed;
  right: 1em;
  margin: 0;
  top: 1em;
  height: 5em;
}

.landing-logo img{
  height: 100%;
}

.landing-social{
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  margin-left: -0.5em;
}

.social-logo img{
  width: 3em;
  margin-left: 2em;
}

.twitter{
  margin-top: 0.3em;
  transition-duration: 0.3s;s
}

.twitter:hover{
  filter: brightness(0.5) sepia(1) saturate(10000%);
  transition-duration: 0.3s;
}

.countdown div{
  width: 3em;
  height: 3em;
  text-align: center;
  vertical-align: middle;
  /* border: 1px solid white; */
  /* border-radius: 3em; */
  font-size: 3em;
  color: white;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.countdown-wrapper{
  position: fixed;
  /* left: 50vw;
  top: 60vh; */
  /*transform: translate(-50%, -50%); */
  color: white;
  /* font-family: Buffalo; */
  z-index: 100;
  pointer-events: none;
}

.title{
  text-align: center;
  font-size: 4em;
  position: relative;
  top: 75vh;
  left: 50vw;
  transform: translateX(-50%);
  /* width: 100vw; */
  /* height: 2em; */
  padding: 0.2em 1em 0.2em 1em;
  font-weight: 100;
  text-transform: uppercase;
  border: 1px solid #fff6;
  border-radius: 3em;
  color: #fff6;

  line-height: 15px;
  height: 50px;
}

.title:hover{
  color: #fff;
  transition-duration: 0.5s;
}

.countdown{
  display: flex;
  flex-direction: row;
  text-align: center;

  position: fixed;
  left: 50vw;
  top: 70vh;
  transform: translate(-50%, -50%) scale(1.5);
}

.number{
  transform: translate(-50%, -50%) scale(1.5);
  font-family: Buffalo-bold;
}

.timereach{
  display: flex;
  flex-direction: column;
}

.units div{
  font-size: 1em;
  width: 11em;
  /* transform: translateY(20%); */
  font-weight: 100;
}

.fogcontainer{
  position: fixed;
  width: 100vw;
  height: 100vh;
  /* width: auto; */
  top: 0px;
  left: 0px;
  opacity: 0.9;
  pointer-events: none;
  /* filter: blur(100px); */
}

/* temporary */

/* .comingsoon{
 font-size: 5em;
 transform: translate(-50%, -50%);
 top: 80vh;
}

.landing-bg{
  transform: translate(-51.5%, -43%) scale(1.2);
} */

/* mailchimp */
#mc_embed_signup{
  display: none;
}

.subscribe{
  color: white;
  cursor: pointer;
  /* border: 1px solid white; */
  font-family: 'Buffalo', sans-serif;
  margin-top: -1.25em;
  margin-left: -0.2em;
  text-align: center;
  font-size: 2.6em;
  padding: 0 1em 0 1em;
  /* text-decoration: underline; */
  transition-duration: 0.3s;s
  /* border-radius: 2em; */
}

.subscribe:hover{
  text-decoration: none;
  color: red;
  transition-duration: 0.3s;
}

.brandingLogo{
  display: none;
}

#mc_embed_signup .foot input{
  background-color: red;
  /* width: 100%; */
  margin-bottom: 3em;
  color: white;
}

#mc_embed_signup .mc-field-group input{
  color: white;
  font-family: 'Buffalo', sans-serif;
  font-size: 1.5em;

  line-height: 30px;
  height: 50px;
}

@media only screen and (max-width: 755px) {
  #mc_embed_signup{
    position: fixed;
    left: 0;
    top: 0;
    transform: none;
  }
  #mc_embed_signup form{
    width: 100vw;
    left: 0;
    transform: none;
    position: fixed;
  }
  .landing-bg{
    /* left: 80vw; */
    left: 50vw;
    top: 50vh;
    height: 100vh;
    /* width: calc(100vh / 9 * 14); */
    width: calc(100vh / 997 * 1500);
    transform: translate(-51%, -50%);
  }

  .landing-bg img{
    width: 100%;
    height: 100%;
  }


  .countdown{
    transform: translate(-120%, -40%) scale(0.8);
    flex-direction: column;
    top: 50vh;
  }

  .number{
    transform: translate(-120%, -40%) scale(0.8);

  }

  .units div{
    margin-top: 6em;
    transform: translateY(-80%);

  }

  .title{
    font-size: 0.8em;
    top: 85vh;
    line-height: 15px;
    height: 30px;
  }

  .landing-logo{
    position: fixed;
    top: 10vh;
  }

  .landing-social{
    position: fixed;
    left: 50vw;
    transform: translateX(-50%);
    margin-left: -1em;
  }

  .social-logo img{
    width: 2em;
  }

  .comingsoon{
    font-size: 2em;
    top: 90vh;
  }

}
